[Unit]
Description=Auto Killer Bash Script

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/hache/dev/my_shell_utils/auto_killer/auto_killer.bash

[Install]
WantedBy=multi-user.target
