[Unit]
Description=Auto Killer Script

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/hache/dev/utils/auto_killer.bash

[Install]
WantedBy=multi-user.target
