[Unit]
Description=Auto Killer Dash Script

[Service]
Type=simple
ExecStart=/usr/bin/dash /home/hache/dev/my_shell_utils/auto_killer/auto_killer.dash

[Install]
WantedBy=multi-user.target
