[Unit]
Description=Auto Killer Fish Script

[Service]
Type=simple
ExecStart=/usr/bin/fish /home/hache/dev/my_shell_utils/auto_killer/auto_killer.fish

[Install]
WantedBy=multi-user.target
