[Unit]
Description=Auto Killer Script

[Service]
Type=simple
ExecStart=/usr/bin/fish /home/hache/dev/utils/auto_killer.fish

[Install]
WantedBy=multi-user.target
